/*
CSS Normalize and Reset
*/

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    Matt's CSS Normalize 
    https://mattbrictson.com/blog/css-normalize-and-reset
  */
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  } 
  ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }
  
  /*
    MDN's form normalize and reset
  */
  
  input{
    font-family: inherit;
    font-size: 100%;
  }
  
  input,
  button {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
  }
  ul {
    padding: 0;
  }
 
/*
End of CSS Normalize and Reset
*/

/* System Fonts with system-ui */
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    padding: 12px;
    background-color: #0284c7;
    color: #f0f9ff;
    font-weight: 600;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trends {
    grid-area: trends;
}

.container {
    display: grid;
    grid-template-areas: 
    "sidebar header header"
    "sidebar projects announcements"
    "sidebar projects trends";
    grid-template-columns: 300px 4fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;

}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 36px;

}

.sidebar-navigation, .sidebar-controls {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(3, 50px);
  grid-auto-rows: 50px;
  align-items: center;
  column-gap: 20px;
  row-gap: 6px;
}

.sidebar-header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 50px;
  align-items: center;
  gap: 6px;
}

.sidebar img {
  filter: invert(87%) sepia(3%) saturate(1856%) hue-rotate(192deg) brightness(110%) contrast(104%);
}

.sidebar h1 {
  font-size: 1.8rem;
}

.sidebar p {
  font-size: 1.3rem;
}

.sidebar img:first-child {
  width: 3000px;
  height: auto;
}