/*
CSS Normalize and Reset
*/

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  Matt's CSS Normalize 
  https://mattbrictson.com/blog/css-normalize-and-reset
*/
h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
} 
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/*
  MDN's form normalize and reset
*/

input{
  font-family: inherit;
  font-size: 100%;
}

input,
button {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}
ul {
  padding: 0;
}
 
/*
End of CSS Normalize and Reset
*/

/* System Fonts with system-ui */
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    padding: 12px;
    background-color: #0284c7;
    color: #f0f9ff;
    font-weight: 600;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trends {
    grid-area: trends;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-areas: 
    "projects announcements"
    "projects trends";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3fr 2fr;
  background-color: #e2e8f0;
}

.container {
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    grid-template-columns: 300px 4fr;
    grid-template-rows: 200px 4fr;

}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 36px;

}

.sidebar-navigation, .sidebar-controls {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(3, 50px);
  grid-auto-rows: 50px;
  align-items: center;
  column-gap: 20px;
  row-gap: 6px;
}

.sidebar-header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 50px;
  align-items: center;
  gap: 6px;
}

.sidebar img {
  filter: invert(87%) sepia(3%) saturate(1856%) hue-rotate(192deg) brightness(110%) contrast(104%);
}

.sidebar h1 {
  font-size: 1.8rem;
}

.sidebar p {
  font-size: 1.3rem;
}

.header .icon {
  height: 30px;
  width: auto;
}



.profile-sum .profile-picture, .trend img {
  border-radius: 50%;
  height: 50px;
}

.header {
  display: grid;
  grid-template-rows: 70px 90px;
  padding: 0 48px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.profile-sum, .search {
  display: flex;
  align-items: center;
  gap: 36px;
}

.search {
  width: 100%;                    
  min-width: 30rem;               
  max-width: 50rem;               
}
input {
  background-color: #e5e7eb;
  border: #e5e7eb;
  border-radius: 30px;
  width: 80%;  
  height: 40px;
  padding: 10px;
  font-size: 1.4rem;
}
.header p {
  font-weight: 600;
}

.header-bottom, .trend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-bottom .profile-picture {
  border-radius: 50%;
  height: 80px;
}
.header-bottom .greetings {
  font-size: 1.5rem;
}

button {
  background-color: #0284c7; 
  border: none;
  color: #f0f9ff;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 600;
}

button:hover {
  background-color: #075985;
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 24px;
}

.project-icons img {
  height: 30px;
  width: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 24px 300px;
  grid-auto-rows: 300px;
  gap: 36px;
  margin: 36px;
}

.project-item {
  padding: 24px;
  background-color: #fff;
  border-radius: 10px;
  border-left: 10px solid #eab308;
  box-shadow: 2px 5px #e1e0e0ef;

}

.project-item h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.projects .title {
  grid-column: 1 / -1;
  font-size: 1.6rem;
  font-weight: 600;
}

.announcements .title, .trends .title {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 24px;
}

.announcements {
  margin: 36px 24px 36px 0;
}

.ann-list {
  background-color: #fff;
  border-radius: 10px;
}

.announcement {
  margin: 0 36px;
  padding: 36px 0 0 0;
}

.announcement h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.announcement p {
  padding-bottom: 24px;
}

.trend {
  justify-content: flex-start;
  gap: 24px;
}

.trend-block {
  border-radius: 10px;
  background-color: #fff;
  margin-right: 24px;
  padding: 24px;
}

.trending p:nth-child(2) {
  color: #85898e;
  font-style: italic;
}

.trend {
  margin-bottom: 20px;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}